.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u506
{
	z-index: 2;
	width: 960px;
	margin-right: -10000px;
}

#u506_img
{
	padding-right: 1px;
}

#u510
{
	z-index: 4;
	width: 324px;
	height: 83px;
	margin-right: -10000px;
	margin-top: 499px;
	left: 291px;
}

#u510:hover
{
	margin: 499px -10000px 0px 0px;
}

#u510:active
{
	margin: 499px -10000px 0px 0px;
}

#u510.MuseLinkActive
{
	margin: 499px -10000px 0px 0px;
}

#u511
{
	z-index: 5;
	width: 75px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 445px;
	left: 373px;
}

#u511:hover
{
	margin: 445px -10000px 0px 0px;
}

#u511:active
{
	margin: 445px -10000px 0px 0px;
}

#u511.MuseLinkActive
{
	margin: 445px -10000px 0px 0px;
}

#u512
{
	z-index: 6;
	width: 167px;
	height: 47px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 313px;
}

#u512:hover
{
	margin: 87px -10000px 0px 0px;
}

#u512:active
{
	margin: 87px -10000px 0px 0px;
}

#u512.MuseLinkActive
{
	margin: 87px -10000px 0px 0px;
}

#u513
{
	z-index: 7;
	width: 60px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 174px;
	left: 396px;
}

#u513:hover
{
	margin: 174px -10000px 0px 0px;
}

#u513:active
{
	margin: 174px -10000px 0px 0px;
}

#u513.MuseLinkActive
{
	margin: 174px -10000px 0px 0px;
}

#u514
{
	z-index: 8;
	width: 54px;
	height: 49px;
	margin-right: -10000px;
	margin-top: 264px;
	left: 426px;
}

#u514:hover
{
	margin: 264px -10000px 0px 0px;
}

#u514:active
{
	margin: 264px -10000px 0px 0px;
}

#u514.MuseLinkActive
{
	margin: 264px -10000px 0px 0px;
}

#u515
{
	z-index: 9;
	width: 55px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 362px;
	left: 425px;
}

#u515:hover
{
	margin: 362px -10000px 0px 0px;
}

#u515:active
{
	margin: 362px -10000px 0px 0px;
}

#u515.MuseLinkActive
{
	margin: 362px -10000px 0px 0px;
}

#u764
{
	z-index: 10;
	width: 344px;
	height: 70px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 175px;
}

#u764:hover
{
	margin: 8px -10000px 0px 0px;
}

#u764:active
{
	margin: 8px -10000px 0px 0px;
}

#u764.MuseLinkActive
{
	margin: 8px -10000px 0px 0px;
}

#u715
{
	z-index: 11;
	width: 418px;
	min-height: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 521px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

